@()(implicit flash: Flash)
<style>
		.registration-form input[type="text"], .registration-form input[type="password"], .registration-form input[type="email"] {
			padding: 10px 15px;
			height: auto;
		}

		.has-feedback .form-control {
			padding-right: 42.5px;
		}
</style>
<!DOCTYPE html>

<html lang="en">
	<head>
		<title>登录-Y染色体法医学分析平台</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-sweetalert-master/dist/sweetalert.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("public/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css")">
		@*<link rel="stylesheet" media="screen" href="@routes.Assets.at("FormValidation/dist/css/formValidation.min.css")">*@
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome-4.7.0/css/font-awesome.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/layout.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/components.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/uniform.default.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("simple-line-icons/simple-line-icons.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/page.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/doc.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-table-master/dist/bootstrap-table.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("select2-4.0.3/dist/css/select2.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-fileinput-master/css/fileinput.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login-5.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/my.css")">
		<script src="@routes.Assets.at("bootstrap/js/jquery-3.1.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("layer-v3.0/layer/layer.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-sweetalert-master/dist/sweetalert.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-table-master/dist/bootstrap-table.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("select2-4.0.3/dist/js/select2.full.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap3-typeahead.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-fileinput-master/js/fileinput.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-fileinput-master/js/locales/zh.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-table-master/dist/extensions/export/bootstrap-table-export.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-table-master/dist/extensions/export/tableExport.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-table-master/dist/extensions/multiple-search/bootstrap-table-multiple-search.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("jquery-backstretch-master/jquery.backstretch.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("jquery-ui-1.12.1/jquery-ui.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrapvalidator-master/dist/js/bootstrapValidator.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("FormValidation/dist/js/formValidation.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("FormValidation/dist/js/framework/bootstrap.min.js")" type="text/javascript"></script>

	</head>
	<body class=" login">
		<style>
				.has-feedback .form-control {
					padding-right: 10px;
				}

		</style>
			<!-- BEGIN : LOGIN PAGE 5-2 -->
		<div class="user-login-5">
			<div class="row bs-reset">
				<div class="col-md-6 login-container bs-reset">

					<div class="register" align="center" style="text-align: center">
						<img class="login-logo login-6" src="@routes.Assets.at("images/logo.png")"
						style="background: #00A1E9">
					</div>

					<div class="login-content">

						<div class="register" align="center" style="text-align: center;
							margin-bottom: 50px">
							<h2 style="font-size: 30px;">Y染色体法医学分析平台</h2>
						</div>

						<div class="register">
							<h2 class="page-heading" style="font-size: 25px;">登录</h2>
						</div>
						<form id="loginForm" style="max-width: 320px;" class="registration-form" accept-charset="UTF-8"
						method="post" action="@routes.AppController.toIndex()">

							<span class="error" style="line-height: 35px;" id="error">@flash.get("info")
							</span>

							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><em
									class="fa fa-user icon2x"></em>
									</span>
									<input id="loginEmail" name="name" placeholder="手机/用户名" type="text" onblur="myBlur()" class="form-control" required value=""/>
								</div>
							</div>

							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon"><em
									class="fa fa-key icon2x"></em>
									</span>
									<input id="loginPassword" name="password" placeholder="密码" type="password" onblur="myBlur()"  class="form-control" required value="" maxlength="30"/>
								</div>
							</div>

							<div class="form-group">
								<a href="@routes.AppController.recoverPasswordBefore()" target="_blank">忘记密码？</a>
							</div>

							<div class="actions">
								<button class="btn btn-primary btn-lg" style="width: 100%" type="button" onclick="myLogin()">登录</button>
							</div>
						</form>

						<div id="validModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog" style="width: 600px">
								<div class="modal-content">
									<div class="modal-header bg-primary">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h4 class="modal-title">
											<i class="fa fa-user"></i>
											<span id="lblAddTitle" style="font-weight: bold">短信验证</span>
										</h4>
									</div>
									<form class="form-horizontal" id="form" data-toggle="validator" enctype="multipart/form-data" style="margin-bottom: 0px">
										<div class="modal-body">
											<div class="row-fluid">

												<div class="form-group">
													<label class="control-label col-sm-3">手机号:</label>
													<div class="col-sm-6">
														<input class="form-control" name="phone" readonly id="phone"/>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-sm-3">验证码:</label>
													<div class="col-sm-4">
														<input class="form-control" name="code" id="code" placeholder="验证码是6位数字" style="width: auto"/>
													</div>

													<div class="col-sm-4">
														<button class="form-control" style="width: 100%" onclick="getValidCode()" type="button" id="getValidCodeButton">
															获取验证码</button>
													</div>

												</div>

											</div>
										</div>
										<div class="modal-footer bg-info">
											<input type="hidden" id="ID" name="ID" />
											<button type="submit" class="btn blue">确定</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>

					@loginFooter()



				</div>
				<div class="col-md-6 bs-reset">
					<div class="login-bg">
					</div>

				</div>
			</div>
		</div>
	</body>
</html>

<script>
		var count = 60
		var interValObj
		var curCount
		$(function () {

			$(document).on("show.bs.modal", ".modal", function () {
				$(this).draggable({
					cursor: "move",
					handle: ".modal-header"   // 只能点击头部拖动
				});
				$(this).css("overflow", "hidden"); // 防止出现滚动条，出现的话，你会把滚动条一起拖着走的
			});

			$(".login-bg").backstretch(["/assets/images/bg3.jpg",
				"/assets/images/bg1.jpg"], {fade: 1e3, duration: 8e3})

			formValidation()

		})

		function myBlur() {
			$("#error").text("")
		}

		function myLogin() {
			$.ajax({
				url: "@routes.AppController.login()",
				type: "post",
				data: $("#loginForm").serialize(),
				success: function (data) {
					console.log(data)
					if (data.isValid == "false") {
						if (data.isError == "true") {
							$("#error").text(data.info)
						} else {
							$("#loginForm").submit()
						}

					} else {
						$("#phone").val(data.phone)
						validShow()
					}
				}
			});
		}

		function getValidCode() {
			$("#code").val("")
			curCount = count
			$("#getValidCodeButton").text("重新获取短信（" + curCount + "）").attr("disabled", true)
			interValObj = window.setInterval(setRemainTime, 1000)
			var phone = $("input[name='phone']").val()
			$.ajax({
				url: "@routes.AppController.sendMessage()?phone=" + phone,
				type: "get",
				success: function (data) {
					if (data.valid == "false") {
						layer.msg(data.message, {
							icon: 5,
							time: 3000
						});
					}

				}
			});

		}

		function setRemainTime() {
			if (curCount == 0) {
				window.clearInterval(interValObj)
				$("#getValidCodeButton").text("重新获取校验码").attr("disabled", false)
			} else {
				curCount--
				$("#getValidCodeButton").text("重新获取短信（" + curCount + "）")
			}
		}

		function validShow() {
			$("#validModal").modal("show")
		}

		function formValidation() {
			$('#form').formValidation({
				framework: 'bootstrap',
				icon: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					code: {
						validators: {
							notEmpty: {
								message: '验证码不能为空！'
							},
							regexp: {
								regexp: /^\d+$/,
								message: '验证码必须为数字！'
							},
							stringLength: {
								min: 6,
								max: 6,
								message: '验证码必须为6位！'
							},
							blank: {}
						}
					},

				}
			}).on('success.form.fv', function (e) {
				e.preventDefault();
				var $form = $(e.target),
						fv = $form.data('formValidation');
				var b = false
				$.ajax({
					url: "@routes.AppController.validCode()",
					type: "post",
					async: false,
					data: $("#form").serialize(),
					success: function (data) {
						if (data.valid == "false") {
							b = false
						} else {
							b = true
						}
					}
				});

				if (b) {
					$("#loginForm").submit()
				} else {
					fv.updateMessage("code", 'blank', "验证码错误！")
							.updateStatus("code", 'INVALID', 'blank');
				}
			})

		}


</script>