@import models.Tables.BasicInfoRow
@import models.Tables.StrDataRow
@import models.Tables.SnpDataRow
@(basicInfo: BasicInfoRow, strData: StrDataRow, snpDatas: SnpDataRow)(implicit request: RequestHeader)
	@main("STR推SNP详情")("manageData") {
		<style>
				.icon2x {
					width: 24px;
					font-size: 20px;
					min-width: 24px;
					display: inline-block;
				}

				.myInline .form-group {
					margin-right: 5px;
					margin-left: 5px;
				}

				.myInline {
					margin-bottom: 15px;
				}

				.myInline .form-control {
					width: 70px;
				}

				.myInline .myLabel {
					font-weight: bold;
				}


		</style>

	<input hidden value="@basicInfo.number" name="number">


		<div class="page-content">

			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-user"></i>
						<a href="@routes.UserDataController.manageDataBefore()">数据管理</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">STR推SNP详情</a>
					</li>
				</ul>
			</div>


			<div class="row-fluid">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="portlet blue-madison box">
							<div class="portlet-title">
								<div class="caption">
									STR推SNP详情
								</div>
							</div>

							<div class="portlet-body form">

								<form id="form" class=" " accept-charset="UTF-8" method="post" style="margin-top: 30px;">

									<div class="form-body form-horizontal">

										<h3 class="form-section">基本信息</h3>

										<div class="form-group">
											<label class="control-label col-sm-2">样本编号:</label>
											<div class="col-sm-3">
												<p class="form-control-static">
													<a href="@routes.UserDataController.detailInfoBefore()?number=@basicInfo.number">@basicInfo.number</a>
												</p>
											</div>
											<label class="control-label col-sm-2">
												鉴定委托单位: </label>
											<div class="col-sm-3">
												<p class="form-control-static">
												@basicInfo.unit
												</p>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-2">样本类型:</label>
											<div class="col-sm-3">
												<p class="form-control-static">
												@basicInfo.sampleType
												</p>
											</div>
										</div>

										<h3 class="form-section">详情</h3>

										<label>显示的列:</label>
										<div id="checkbox" class="checkbox">

										</div>

										<div class="table-responsive" id="tableContent">
											<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
											data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true"
											data-show-export="true" data-export-types="['excel','txt']" data-export-data-type="all"
											>
												<thead>
												</thead>
											</table>

										</div>


									</div>

								</form>


							</div>
						</div>
					</div>
				</div>


			</div>

		</div>

		<script>
				$(function () {
					StrInferDetail.init


				})
		</script>

	}