@()(implicit request: RequestHeader)
<style>


</style>
<div class="page-header navbar navbar-fixed-top">
		<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
			<!-- BEGIN LOGO -->
		<div class="page-logo">
				@*<img src="" alt="logo" class="logo-default" height="31px">*@
			<div class="menu-toggler sidebar-toggler hide">
					<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile">
						@request.session.get("admin") </span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu" >
						<li>
							<a href="@routes.AdminController.logout()">
								<i class="fa fa-user"></i> 退出登录 </a>
						</li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</div>