@(id: String)
<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200" id="projects">

			<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
					<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<li style="height: 10px"></li>

			<li id='userManage'>
				<a href='@routes.AdminController.userManageBefore()'>
					<i class='fa fa-table'></i>
					<span class='title'>用户管理</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='weightManage'>
				<a href='@routes.WeightController.weightManageBefore()'>
					<i class='fa fa-wrench'></i>
					<span class='title'>STR进化速率设置</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='strDbManage'>
				<a href='@routes.AdminController.strDbManageBefore()'>
					<i class='fa fa-database'></i>
					<span class='title'>STR背景库管理</span>
					<span class='selected'></span>
				</a>
			</li>

			<li >
				<a href='@routes.AdminController.downloadData()' target="_blank">
					<i class='fa fa-download'></i>
					<span class='title'>导出全部用户数据</span>
					<span class='selected'></span>
				</a>
			</li>

			<li id='passwordChange'>
				<a href='@routes.AdminController.changePasswordBefore()'>
					<i class='fa fa-key'></i>
					<span class='title'>密码修改</span>
					<span class='selected'></span>
				</a>
			</li>


		</ul>
	</div>
</div>
<script>
		$(function () {
			var menuContainer = jQuery('.page-sidebar ul');
			menuContainer.children('li.active').removeClass('active');
			$("#" + "@id").addClass('active')


		})

</script>
